/MyApps/bin/
/MyApps/obj/
/MyLibrary/bin/
/MyLibrary/obj/
/PureDI_ConsoleApp/bin/
/PureDI_ConsoleApp/obj/
/MsDI_ConsoleApp/bin/
/MsDI_ConsoleApp/obj/
/LamarDi_ConsoleApp/bin/
/LamarDi_ConsoleApp/obj/
/.vs/